<h2>Create Todo List</h2>

      <form name="addTodoForm" ng-submit="todoList.addTodo()">
        <fieldset class="addtodo">
          <label>Add Todo
            <input type="text" ng-model="todoList.todoText"  size="30" placeholder="Enter task..." required >
          </label>
            <p class="styled-select">
            <label>Priority
              <select ng-model="todoList.todoPriority">
                <option value="normal">Normal</option>
                <option value="medium">Medium</option>
                <option value ="high">High</option>
              </select>
            </label>
            </p>
            <label>Deadline
              <input type="text" ng-model="todoList.todoDeadline" size="30" placeholder="Enter deadline...">
            </label>
            <input class="btn" ng-disabled="addTodoForm.$invalid" type="submit" value="Add">
        </fieldset>
      </form>
